#vscode files
.vscode/
*.json
.DS_Store

#build directory
build/

#binary directory
bin/

#output
output/

#wavelets files
wavelets/

#binary
2pc
3pc
counting
sigma_r
dipole
mracs
orcorr
sosta
orcorr
ps
cp
stochas
cross
ccl
